// color
$c-font-1: #364238 // 一级字体颜色
$c-font-2: #636a65 // 二级字体颜色
$c-font-3: #969a97 // 三级字体颜色
$c-font-4: #caccca // 四级字体颜色

$c-divider: #ececec // 分割线颜色
$c-bg: #fbfbfb // 背景色
$c-warn: #ed6449 // 警示
$c-notice: #f2a13a // 提醒
$c-chore: #EAE82F // 淡提示

// black
$c-black: #000
$c-white: #fff

// blue
$c-blue-700: #1B78C2
$c-blue: rgba(34, 150, 243, 1)
$c-blue-500: rgba(34, 150, 243, 0.5)
$c-blue-300: rgba(34, 150, 243, 0.3)
$c-blue-200: rgba(34, 150, 243, 0.2)
$c-blue-100: rgba(34, 150, 243, 0.1)

// green
$c-green-700: #009800
$c-green: rgba(0, 191, 0, 1)
$c-green-200: rgba(0, 191, 0, 0.2)
$c-green-100: rgba(0, 191, 0, 0.1)

// volcano
$c-volcano-700: #CC5935
$c-volcano: rgba(255, 112, 67, 1)
$c-volcano-200: rgba(255, 112, 67, 0.2)
$c-volcano-100: rgba(255, 112, 67, 0.1)

// orange
$c-orange-700: #C77D06
$c-orange: rgba(249, 157, 8, 1)
$c-orange-200: rgba(249, 157, 8, 0.2)
$c-orange-100: rgba(249, 157, 8, 0.1)

// blue-gray
$c-blue-gray: rgba(2, 29, 51, 1)
$c-blue-gray-700: rgba(2, 29, 51, 0.7)
$c-blue-gray-540: rgba(2, 29, 51, 0.54)
$c-blue-gray-300: rgba(2, 29, 51, 0.3)
$c-blue-gray-100: rgba(2, 29, 51, 0.1)


// 字体大小
$f-size-1: 11px
$f-size-2: 12px
$f-size-3: 13px
$f-size-4: 14px
$f-size-5: 15px
$f-size-6: 16px
$f-size-7: 17px
$f-size-8: 18px
$f-size-9: 19px
