@import '~@/styles/mixin.sass'

.header-wrapper
  width: 100%
  position: fixed
  z-index: 1
  top: 0
  height: 63px
  padding-left: 10px
  +border()
  background: #fff
.logo
  width: 120px
  height: 31px
  // background: rgba(255,255,255,.2)
  background: #000
  margin: 16px 24px 16px 0
  padding-left: 20px
  float: left
.menu
  +flex(row, center, center)
