body{
    background: #f0f2f5;
}
.markdown-about{
    max-width: 650px;
    margin: 20px auto;
}
.main{
    font-size: 18px;
    h1{
        font-size: 22px ;
    }
    .margin-10{
        margin: 10px 0;
    }
    .margin-20{
        margin: 20px 0;
    }
}