@charset 'utf-8';
html {
  color: #000;
  background: #fff;
  font-family: Arial, "Microsoft YaHei", "宋体";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", Arial, "宋体";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #00c;
  outline: none;
}
var,
em,
strong {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* 详情页样式 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
header {
  max-width: 750px;
  margin: 0 auto;
  height: 63px;
  max-height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ececec;
  background: #fff;
}

header ul {
  display: flex;
}

header ul li {
  max-width: 100px;
  flex: 1;
  text-align: center;
}

header ul li:hover {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}
header ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
header ul li a i {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
}
.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #000;
}
.container {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 960px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: #f0f2f5;
}
.comments-container{
    max-width: 960px;
    margin: 20px auto;
}
.comment-wrapper .name:hover{
    color:#2793e6;
    text-decoration: underline;
}
.meta-bottom {
  margin-top: 40px;
  margin-bottom: 80px;
}
.like {
  display: inline-block;
}
.like .like-group {
  position: relative;
  padding: 13px 0 15px 0;
  font-size: 0;
  border: 1px solid #EA6F5A;
  border-radius: 40px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.like .like-group .btn-like {
  display: inline-block;
  font-size: 19px;
}
.like .like-group .btn-like:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 2px;
  width: 50px;
  height: 50px;
  background-image: url(//cdn2.jianshu.io/assets/web/like_animation_steps-62a00a7….png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1000px 50px;
}
.like .like-group .modal-wrap{
  font-size: 18px;
  border-left: 1px solid rgba(236, 97, 73, 0.4);
  display: inline-block;
  margin-left: -15px;
}
.style_title {
  margin-top: 30px;
  font-size: 40px;
}
.style_introduce__3G5I4 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.style_img__19k0w {
  width: 48px;
  height: 48px;
}
.style_introduce-detail__2UdjI {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.article_bottom{
  height: 60px;
  line-height: 60px; 
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.support_hover{
  color:#2c6ca7
}
.read_hover{
  color:#2c6ca7
}